<a href="https://colab.research.google.com/github/nityanandkore/6162-KDD/blob/master/Homework10_TextClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!rm -rf 6162-KDD
!git clone https://github.com/nityanandkore/6162-KDD.git

Cloning into '6162-KDD'...
remote: Enumerating objects: 23, done.
remote: Counting objects: 100% (23/23), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 152 (delta 12), reused 0 (delta 0), pack-reused 129
Receiving objects: 100% (152/152), 26.37 MiB | 36.09 MiB/s, done.
Resolving deltas: 100% (78/78), done.

In [0]:
from zipfile import ZipFile

# Create a ZipFile Object and load sample.zip in it
with ZipFile('6162-KDD/DataSet/MovieReviews.zip', 'r') as zipObj:
# Extract all the contents of zip file in current directory
      zipObj.extractall('6162-KDD/DataSet/')

In [3]:
!ls 6162-KDD/DataSet/MovieReviews

16748.txt  17384.txt  17803.txt  18161.txt  1865.txt  1975.txt	2055.txt
17108.txt  17391.txt  17811.txt  18181.txt  1866.txt  1976.txt	2058.txt
17109.txt  17398.txt  17874.txt  18227.txt  1867.txt  1979.txt	2059.txt
17110.txt  17399.txt  17879.txt  18263.txt  1889.txt  1981.txt	2062.txt
17111.txt  17430.txt  17886.txt  18272.txt  1891.txt  1984.txt	2067.txt
17116.txt  17431.txt  17896.txt  18273.txt  1908.txt  1985.txt	2076.txt
17117.txt  17447.txt  17898.txt  18274.txt  1910.txt  1990.txt	2079.txt
17118.txt  17457.txt  17902.txt  18282.txt  1911.txt  1991.txt	2080.txt
17119.txt  17460.txt  17912.txt  18283.txt  1912.txt  1994.txt	2081.txt
17139.txt  17501.txt  17933.txt  18307.txt  1916.txt  1998.txt	2085.txt
17144.txt  17518.txt  17934.txt  18368.txt  1917.txt  2005.txt	2086.txt
17145.txt  17532.txt  17945.txt  18375.txt  1921.txt  2006.txt	2087.txt
17146.txt  17534.txt  17963.txt  18376.txt  1925.txt  2007.txt	2089.txt
17147.txt  17578.txt  17971.txt  18396.txt  1928.txt  2008.txt	2090.txt
17150.txt  17609.txt  17992.txt  18406.txt  1929.txt  2009.txt	2091.txt
17185.txt  17610.txt  18004.txt  18413.txt  1930.txt  2025.txt	2094.txt
17192.txt  17655.txt  18016.txt  18414.txt  1932.txt  2026.txt	2095.txt
17219.txt  17662.txt  18032.txt  18447.txt  1934.txt  2030.txt	2098.txt
17239.txt  17663.txt  18067.txt  18473.txt  1937.txt  2031.txt	2099.txt
17243.txt  17695.txt  18068.txt  18480.txt  1943.txt  2033.txt	2101.txt
17254.txt  17711.txt  18080.txt  18485.txt  1944.txt  2035.txt	2108.txt
17255.txt  17713.txt  18087.txt  18498.txt  1945.txt  2036.txt	2110.txt
17280.txt  17753.txt  18088.txt  1858.txt   1961.txt  2043.txt	2113.txt
17300.txt  17757.txt  18136.txt  1859.txt   1967.txt  2045.txt	2115.txt
17303.txt  17758.txt  18141.txt  1860.txt   1968.txt  2046.txt
17341.txt  17761.txt  18156.txt  1864.txt   1974.txt  2051.txt

In [4]:
from nltk.corpus import PlaintextCorpusReader
corpus_root = '6162-KDD/DataSet/MovieReviews' 
filelists = PlaintextCorpusReader(corpus_root, '.*',encoding='latin-1')
filelists.fileids()

['16748.txt',
 '17108.txt',
 '17109.txt',
 '17110.txt',
 '17111.txt',
 '17116.txt',
 '17117.txt',
 '17118.txt',
 '17119.txt',
 '17139.txt',
 '17144.txt',
 '17145.txt',
 '17146.txt',
 '17147.txt',
 '17150.txt',
 '17185.txt',
 '17192.txt',
 '17219.txt',
 '17239.txt',
 '17243.txt',
 '17254.txt',
 '17255.txt',
 '17280.txt',
 '17300.txt',
 '17303.txt',
 '17341.txt',
 '17384.txt',
 '17391.txt',
 '17398.txt',
 '17399.txt',
 '17430.txt',
 '17431.txt',
 '17447.txt',
 '17457.txt',
 '17460.txt',
 '17501.txt',
 '17518.txt',
 '17532.txt',
 '17534.txt',
 '17578.txt',
 '17609.txt',
 '17610.txt',
 '17655.txt',
 '17662.txt',
 '17663.txt',
 '17695.txt',
 '17711.txt',
 '17713.txt',
 '17753.txt',
 '17757.txt',
 '17758.txt',
 '17761.txt',
 '17803.txt',
 '17811.txt',
 '17874.txt',
 '17879.txt',
 '17886.txt',
 '17896.txt',
 '17898.txt',
 '17902.txt',
 '17912.txt',
 '17933.txt',
 '17934.txt',
 '17945.txt',
 '17963.txt',
 '17971.txt',
 '17992.txt',
 '18004.txt',
 '18016.txt',
 '18032.txt',
 '18067.txt',
 '18068.txt',
 '18080.txt',
 '18087.txt',
 '18088.txt',
 '18136.txt',
 '18141.txt',
 '18156.txt',
 '18161.txt',
 '18181.txt',
 '18227.txt',
 '18263.txt',
 '18272.txt',
 '18273.txt',
 '18274.txt',
 '18282.txt',
 '18283.txt',
 '18307.txt',
 '18368.txt',
 '18375.txt',
 '18376.txt',
 '18396.txt',
 '18406.txt',
 '18413.txt',
 '18414.txt',
 '18447.txt',
 '18473.txt',
 '18480.txt',
 '18485.txt',
 '18498.txt',
 '1858.txt',
 '1859.txt',
 '1860.txt',
 '1864.txt',
 '1865.txt',
 '1866.txt',
 '1867.txt',
 '1889.txt',
 '1891.txt',
 '1908.txt',
 '1910.txt',
 '1911.txt',
 '1912.txt',
 '1916.txt',
 '1917.txt',
 '1921.txt',
 '1925.txt',
 '1928.txt',
 '1929.txt',
 '1930.txt',
 '1932.txt',
 '1934.txt',
 '1937.txt',
 '1943.txt',
 '1944.txt',
 '1945.txt',
 '1961.txt',
 '1967.txt',
 '1968.txt',
 '1974.txt',
 '1975.txt',
 '1976.txt',
 '1979.txt',
 '1981.txt',
 '1984.txt',
 '1985.txt',
 '1990.txt',
 '1991.txt',
 '1994.txt',
 '1998.txt',
 '2005.txt',
 '2006.txt',
 '2007.txt',
 '2008.txt',
 '2009.txt',
 '2025.txt',
 '2026.txt',
 '2030.txt',
 '2031.txt',
 '2033.txt',
 '2035.txt',
 '2036.txt',
 '2043.txt',
 '2045.txt',
 '2046.txt',
 '2051.txt',
 '2055.txt',
 '2058.txt',
 '2059.txt',
 '2062.txt',
 '2067.txt',
 '2076.txt',
 '2079.txt',
 '2080.txt',
 '2081.txt',
 '2085.txt',
 '2086.txt',
 '2087.txt',
 '2089.txt',
 '2090.txt',
 '2091.txt',
 '2094.txt',
 '2095.txt',
 '2098.txt',
 '2099.txt',
 '2101.txt',
 '2108.txt',
 '2110.txt',
 '2113.txt',
 '2115.txt']

In [0]:
#create a list of news articles
news = []
for fileid in filelists.fileids():
    news.append(filelists.raw(fileid))

In [0]:
news